<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>tasks ids</title>
	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
</head>

<body>
{% for task in tasks %}
	<a href="/task/{{task._id}}">{{task._id}}</a>
  |
	<span>
		{% if task.out==null || task.outResponse=={} %}
		...
		{% elif task.out.error %}
		out error
		{% elif task.outResponse.error %}
		outResponse error
		{% elif task.outResponse.code==200 %}
		ok
		{% else %}
		done
		{% endif %}
	</span>
  <br />
{% endfor %}
</body>

</html>